.dialog {
    background-color: #000000;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    font-family: 'In your face, Joffrey!';
    font-size: 50px;
    display: none;
}
.dialog > button {
    background: #000;
    text-align: center;
    border: 1px solid #fff;
    padding: 0 30px;
    font-family: 'In your face, Joffrey!';
    color: white;
    margin: 25px auto 0;
    font-size: 40px;
}
.dialog > h1 {
    padding: 0;
    margin: 0 0 25px;
    font-size: 70px;
}